h1 {
    text-align: center;
}

.form-control {
    width: 50vw;
    margin-bottom: 30px;
    margin-left: 400px;
}

.signin a {
    color: #333;
    text-decoration: none;
    padding: 0 20px 0 20px;
}